<mat-toolbar class="navbar-container">
    <div class="logo-container">
            <h3 class=" logo" routerLink="">zulu</h3>
    </div>
    <div>
        <div fxLayout="row" fxLayout="row" fxLayoutAlign="right right" class="menu-div">
            <button mat-button class="sign-in" ngClass.lg="large-sign-in"
                ngClass.xs="mobile-sign-in" routerLink="/login">
                    <span class="menu-span" >SIGN IN</span>
            </button>

            <button  mat-button class="sign-up" ngClass.lg="large-sign-up"
                ngClass.xs="mobile-sign-in" routerLink="/register">
                    <span class="menu-span">SIGN UP</span>
            </button>

        </div>

    </div>
</mat-toolbar>

<div class="header-container" ngClass.sm="mobile-header-container" ngClass.xm="mobile-header-container">
  <div class="header-flex">
    <div class="headline-container">
        <h1 class="mat-display-1">
           Zulu helps teams work <br> more collaboratively and<br> get more done.
        </h1>
        <h4>
            zulu enable teams to organize and prioritize projects in a fun, flexible, and rewarding way.<br>
            zulu provide teams with a way to schedule and hold virtual meeting on it platform<br>
            with zulu team chat, teams can communicate and share information with one another.
        </h4>

    </div>

    <div class="image">
        <img src="../assets/images/project-pics.jpg" alt="zulu">
    </div>
 </div>

    <div class="join-now-container">
            <button class="join-now" routerLink="/register">
                Sign-Up-Its Free
            </button>
     </div>

</div>





