<section class="project-details-page container bg-light">
	<div class="project-details row">
        <div class="col-lg-4">
		<h5 class="project-name">Zulu Backend Project</h5>
        <div class="requirement">Design and Implementation</div>
        <div class="requirement">Zulu LLC</div>
        </div>

        <div class="col-lg-4">
                <div class="priority">Priority: High</div>
                <div class="deadline">Deadline: 9 OCT, 2020</div>
        </div>

        <div class="col-lg-4">
        	<button routerLink="/dashboard/projects/:id/create-task" class="button" id="">Create Task</button>

        </div>

	</div>
	        <div class="tasks">
            <h2>All Tasks</h2>


        <div class="task row">
        <div class="col-lg-4 col-md-6">
            <div  class="well hoverwell thumbnail" id="thumbnail">
                <h5 class="task-name">Design Search page</h5>
                <p class="assigned_to"><span class="assigned-to">Assigned To: </span>munircole</p>
                <div class="priority">Priority: High</div>
                <div class="deadline">Deadline: 9 OCT, 2020</div>
                <p>2 Days Ago</p>

            </div>
        </div>
                <div class="col-lg-4 col-md-6">
            <div  class="well hoverwell thumbnail" id="thumbnail">
                <h5 class="task-name">Design Search page</h5>
                <p class="assigned_to"><span class="assigned-to">Assigned To: </span>munircole</p>
                <div class="priority">Priority: High</div>
                <div class="deadline">Deadline: 9 OCT, 2020</div>
                <p>2 Days Ago</p>

            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div  class="well hoverwell thumbnail" id="thumbnail">
                <h5 class="task-name">Design Search page</h5>
                <p class="assigned_to"><span class="assigned-to">Assigned To: </span>munircole</p>

                <div class="priority">Priority: High</div>
                <div class="deadline">Deadline: 9 OCT, 2020</div>
                <p>2 Days Ago</p>

            </div>
        </div>
</div>
        </div>

</section>