.project-details-page{
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 50px;
}

.button{
  background: #29c785;
  text-align: center;
  width: 200px;
  height: 30px;
  color: white;
  border:none;
  border-radius: 20px;
}


.tasks{
	margin-top: 50px;
}

.task{
	margin-top: 20px;
}

.thumbnail{
    background: white;
    margin-top: 10px;
    padding: 20px;
    height: 200px;
    border-radius: 20px;
}

.assigned-to{
    font-weight: bold;
}