<section class="bg-light">
	<div class="filter">
		<div class="filter-by row">

        <div class="form-group col-lg-3 col-md-6 col-sm-6">
        	<label>Clients</label>
            <select id="clients" type="text" class="form-control bg-light" placeholder="Select location..">
                <option value="software developer">All Clients</option>
            </select>

        </div>

        <div class="form-group col-lg-3 col-md-6 col-sm-6">
        	<label>Label</label>
           <select id="label" type="text" class="form-control bg-light" placeholder="Select location..">
                <option value="software developer">software developer</option>
            </select>
        </div>

        <div class="form-group col-lg-3 col-md-6 col-sm-6">
        	<label>Date</label>
           <select id="date" type="text" class="form-control bg-light" placeholder="Select location..">
                <option value="software developer">Today</option>
            </select>
        </div>


        </div>
    </div>
		

	<div class="projects row">
		<div class="col-lg-3 col-md-6">
			<div  class="well hoverwell thumbnail" id="thumbnail">
                <h5 class="project-name">Zulu Backend Project</h5>
                <div class="requirement">Design and Implementation</div>
                <div class="requirement">Zulu LLC</div>


                <div class="down-section">
                <div class="priority">Priority: High</div>
                <div class="deadline">Deadline: 9 OCT, 2020</div>
                <div class="team-members">
                	<img src="../../assets/images/profile-pics.jpg" alt="team-members">
                	<img src="../../assets/images/profile-pics.jpg" alt="team-members">

                </div>
                <p>2 Days Ago</p>
                </div>

		    </div>

		</div>
		<div class="col-lg-3 col-md-6">
			    <div  class="well hoverwell thumbnail" id="thumbnail">
                <h5 class="project-name">Zulu Backend Project</h5>
                <div class="requirement">Design and Implementation</div>
                <div class="requirement">Zulu LLC</div>


                <div class="down-section">
                <div class="priority">Priority: High</div>
                <div class="deadline">Deadline: 9 OCT, 2020</div>
                <div class="team-members">
                	<img src="../../assets/images/profile-pics.jpg" alt="team-members">
                	<img src="../../assets/images/profile-pics.jpg" alt="team-members">

                </div>
                <p>2 Days Ago</p>
                </div>

		      </div>
		  </div>
		<div class="col-lg-3 col-md-6">
				<div  class="well hoverwell thumbnail" id="thumbnail">
                <h5 class="project-name">Zulu Backend Project</h5>
                <div class="requirement">Design and Implementation</div>
                <div class="requirement">Zulu LLC</div>


                <div class="down-section">
                <div class="priority">Priority: High</div>
                <div class="deadline">Deadline: 9 OCT, 2020</div>
                <div class="team-members">
                	<img src="../../assets/images/profile-pics.jpg" alt="team-members">
                	<img src="../../assets/images/profile-pics.jpg" alt="team-members">

                </div>
                <p>2 Days Ago</p>
                </div>

		      </div>

		</div>
		<div class=" col-lg-3 col-md-6">
		    <div  class="well hoverwell thumbnail" id="thumbnail">
                <h5 class="project-name">Zulu Backend Project</h5>
                <div class="requirement">Design and Implementation</div>
                <div class="requirement">Zulu LLC</div>

                <div class="down-section">
                <div class="priority">Priority: High</div>
                <div class="deadline">Deadline: 9 OCT, 2020</div>
                <div class="team-members">
                	<img src="../../assets/images/profile-pics.jpg" alt="team-members">
                	<img src="../../assets/images/profile-pics.jpg" alt="team-members">

                </div>
                <p>2 Days Ago</p>
                </div>

		    </div>
		</div>

	</div>
</section>