.login{
	background-color: #36151E;
}

h1{
    color: #29c785 !important;
    font-family: Kingthings_Exeterfont;
    font-size: 150px;
}


#img{
	padding: 10px;
	margin-bottom: 50px;
	margin-top: 50px;
	border-right: 1px solid #f9f9f9;

}

img{
	width: 550px;
	height: 550px;
}


.form{
	margin: auto;
	display: flex;
    justify-content: center;

}

.button{
	width: 100%;
	height: 50px;
	border: none;
	background: #29c785;
	color: white;
}

p{
	color: #f9f9f9;
}



@media (max-width: 768px){

    #logo{
       display: none !important;
    }

    .form{
        margin-bottom: 50px;

    }

    section{
    	height: 100%;
    }


}


@media (min-width: 768px){

    #logo-text{
       display: none !important;
    }

}
