<section class="dashboard">

    <div class="container">

        <div class="cards">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="card-box " id="1">
                        <div class="inner">
                            <h3> 62 </h3>
                            <p> Total Projects </p>
                        </div>
                        <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="card-box " id="2">
                        <div class="inner">
                            <h3> 58 </h3>
                            <p> Completed Projects</p>
                        </div>
                        <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card-box " id="3">
                        <div class="inner">
                            <h3> 4 </h3>
                            <p> In Progress</p>
                        </div>
                        <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card-box" id="4">
                        <div class="inner">
                            <h3> 20</h3>
                            <p> Team Member</p>
                        </div>
                        <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col-lg-7 col-md-12">
        <div class="in-progress">
            <h2>Projects In Progress</h2>
                <div class="projects row">
        <div class="col-lg-6 col-md-6">
            <div  class="well hoverwell thumbnail" id="thumbnail">
                <h5 class="project-name">Zulu Backend Project</h5>
                <div class="requirement">Design and Implementation</div>
                <div class="requirement">Zulu LLC</div>


                <div class="down-section">
                <div class="priority">Priority: High</div>
                <div class="deadline">Deadline: 9 OCT, 2020</div>
                <div class="team-members">
                    <img src="../../assets/images/profile-pics.jpg" alt="team-members">
                    <img src="../../assets/images/profile-pics.jpg" alt="team-members">

                </div>
                <p>2 Days Ago</p>
                </div>

            </div>

        </div>
        <div class="col-lg-6 col-md-6">
                <div  class="well hoverwell thumbnail" id="thumbnail">
                <h5 class="project-name">Zulu Backend Project</h5>
                <div class="requirement">Design and Implementation</div>
                <div class="requirement">Zulu LLC</div>


                <div class="down-section">
                <div class="priority">Priority: High</div>
                <div class="deadline">Deadline: 9 OCT, 2020</div>
                <div class="team-members">
                    <img src="../../assets/images/profile-pics.jpg" alt="team-members">
                    <img src="../../assets/images/profile-pics.jpg" alt="team-members">

                </div>
                <p>2 Days Ago</p>
                </div>

              </div>
          </div>

</div>
        </div>

        <div class="recent-tasks">
            <h2>Recent Tasks</h2>


        <div class="task row">
        <div class="col-lg-6 col-md-6">
            <div  class="well hoverwell thumbnail task-thumbnail" id="thumbnail">
                <h5 class="task-name">Design Search page</h5>
                <p class="assigned_to"><span class="assigned-to">Assigned To: </span>munircole</p>
                <div class="priority">Priority: High</div>
                <div class="deadline">Deadline: 9 OCT, 2020</div>
                <p>2 Days Ago</p>

            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div  class="well hoverwell thumbnail task-thumbnail" id="thumbnail">
                <h5 class="task-name">Design Search page</h5>
                <p class="assigned_to"><span class="assigned-to">Assigned To: </span>munircole</p>

                <div class="priority">Priority: High</div>
                <div class="deadline">Deadline: 9 OCT, 2020</div>
                <p>2 Days Ago</p>

            </div>
        </div>
</div>
        </div>
    </div>
    <div class="col-lg-5 col-md-12">
        <div class="calendar">
            <full-calendar></full-calendar>
        </div>
        <div class="activity"></div>
    </div>
</div>
    </div>
</section>