	<div class="container bg-light">
		<h1> Schedule Meeting</h1>
	   <div class="row">

          <div class="form-group col-lg-12 col-sm-12">
            <label for="name">Name:</label>
            <input formControlName="name" id="name" type="text" class="form-control"
              placeholder=" Design Catchup..." required />
          </div>


        </div>

        <div class="row">

          <div class="form-group col-lg-5 col-sm-12">
            <label for="when">When</label>
            <input formControlName="date" id="date" type="date" class="form-control" required />
          </div>

          <div class="form-group col-lg-3 col-sm-12">
          	<label for="time">Time</label>
            <input formControlName="time" id="time" type="time" class="form-control" required />

          </div>


        </div>


        <div class="row">

          <div class="form-group col-lg-3 col-sm-12">
            <label for="invite">People to invite</label>
            <input formControlName="invite" id="invite" type="search" class="form-control"
              required />
          </div>


        </div>


        <button type="submit" class="submit">Create Meeting</button>





		
	</div>
