<section class="meeting-section">
	<div class="meeting">
		<button type="submit" class="submit" routerLink="/dashboard/create-meeting">Schedule a meeting</button>


	        <div class="recent-meetings">
            <h2>Recent meetings</h2>


        <div class="meeting row">
        <div class="col-lg-4 col-md-6">
            <div  class="well hoverwell thumbnail" id="thumbnail">
                <h5 class="title">Design Catchup</h5>
                <div class="date">Date: 9 OCT, 2020</div>
                <div class="time">9:30 AM</div>
                <button  class="start" routerLink="/dashboard/meeting/login">Start/Join</button>

            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div  class="well hoverwell thumbnail" id="thumbnail">
                <h5 class="title">Design Catchup</h5>
                <div class="date">Date: 9 OCT, 2020</div>
                <div class="time">9:30 AM</div>
                <button  class="start" routerLink="/dashboard/meeting/login">Start/Join</button>

            </div>
        </div>

                <div class="col-lg-4 col-md-6">
            <div  class="well hoverwell thumbnail" id="thumbnail">
                <h5 class="title">Design Catchup</h5>
                <div class="date">Date: 9 OCT, 2020</div>
                <div class="time">9:30 AM</div>
                <button  class="start" routerLink="/dashboard/meeting/login">Start/Join</button>

            </div>
        </div>
</div>
        </div>

	</div>
</section>